.auth-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .desktop-buttons,
  .mobile-button {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
  }
  
  @media (max-width: 768px) {
    .desktop-buttons {
      display: none;
    }
  }
  
  @media (min-width: 769px) {
    .mobile-button {
      display: none;
    }
  }
  
  
.search-and-select-container {
    display: flex;
   
  }
  
  .responsive-searchbar {
    width: auto; /* Default width */
  }
  
  @media (max-width: 600px) {
    .responsive-searchbar {
      width: 100%; /* Full width on small screens */
    }
  }
  
  .responsive-select::part(placeholder) {
    display: inline;
  }
  
  @media (max-width: 600px) {
    .responsive-select::part(placeholder) {
      display: none;
    }
  }
  .sign-buttons-container {
    display: flex;
    margin: 20px 0;
  }
  
  .sign-btn {
    flex: 1;
    font-size: 16px;
    padding: 10px 20px;
    --background: #f0f0f0;
    color: black;
    text-transform: none; /* To match the capitalization in the uploaded image */
    border: 1px solid transparent;
  }
  
  .sign-btn.active {
    --background: black;
    color: white;
    border-color: #ccc;
  }
  
  .sign-btn:not(.active) {
    --background: #e0e0e0; /* Adjust inactive background color */
    color: black;
  }
  
  .get-started-card,
.document-card {
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.card-title {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.otp-input-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 15px;
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.terms-text {
  font-size: 0.9em;
  text-align: center;
  margin-top: 15px;
}