/* Pagination Container */
.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0; /* Adjust margin as needed */
  }
  
  /* Scrollable cards container */
  .scrollable-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 10px;
    overflow-y: auto; /* Add vertical scroll if needed */
    max-height: 500px; /* Adjust height as necessary */
  }
  
  /* Scrollable Card Styling */
  .scrollable-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .scrollable-card img {
    width: 100%;
    height: auto;
    max-width: 150px;
  }
  